<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Web Bank Application</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateAcc</display-name>
    <servlet-name>CreateAcc</servlet-name>
    <servlet-class>CreateAcc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAcc</servlet-name>
    <url-pattern>/CreateAcc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AmtDeposit</display-name>
    <servlet-name>AmtDeposit</servlet-name>
    <servlet-class>AmtDeposit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AmtDeposit</servlet-name>
    <url-pattern>/AmtDeposit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AmtWithdraw</display-name>
    <servlet-name>AmtWithdraw</servlet-name>
    <servlet-class>AmtWithdraw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AmtWithdraw</servlet-name>
    <url-pattern>/AmtWithdraw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransferMoney</display-name>
    <servlet-name>TransferMoney</servlet-name>
    <servlet-class>TransferMoney</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransferMoney</servlet-name>
    <url-pattern>/TransferMoney</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccDelete</display-name>
    <servlet-name>AccDelete</servlet-name>
    <servlet-class>AccDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccDelete</servlet-name>
    <url-pattern>/AccDelete</url-pattern>
  </servlet-mapping>
</web-app>